import(Rcpp)
import(RcppArmadillo)
import(RcppProgress)
import(RcppParallel)
import(coda)
import(Matrix)
import(igraph, ggraph, ggplot2, MASS)
useDynLib("CARlasso", .registration = TRUE)
export(CARlasso)
export(plot.carlasso_out)
export(simu_AR1)
