import(Rcpp, RcppArmadillo, RcppProgress)
import(coda, Matrix, MASS)
import(igraph, ggraph, ggplot2)
importFrom("stats", "as.formula", "formula", "model.matrix", "na.omit",
                "rnorm", "sd", "terms")
useDynLib("CARlasso", .registration = TRUE)
export(CARlasso)
export(bGlasso)
export(plot.carlasso_out)
export(plot.bglasso_out)
export(horseshoe)
export(simu_AR1)
S3method("plot", "carlasso_out", plot.carlasso_out)
S3method("plot", "bglasso_out", plot.bglasso_out)
export(rCARlasso_, rCARAlasso_)
