import(Rcpp, RcppArmadillo, RcppProgress)
import(coda, Matrix, MASS)
import(igraph, ggraph, ggplot2)
useDynLib("CARlasso", .registration = TRUE)
export(CARlasso)
export(plot.carlasso_out)
export(horseshoe)
export(simu_AR1)
S3method("plot", "carlasso_out", plot.carlasso_out)
export(rCARlasso_, rCARAlasso_)